
body {
    background-image: linear-gradient(
        145deg,
        rgba(6, 74, 129, 0.925),
        rgba(6, 74, 129, 0.541),
        rgba(6, 74, 129, 0.603),
        rgba(6, 74, 129, 0.61),
        rgba(6, 84, 129, 0.658)
    );
    color: white;
}

.bg-marine {
    background-image: linear-gradient(
        145deg,
        rgb(0, 44, 138),        
        rgba(0, 44, 138, 0.829),        
        rgba(0, 44, 138, 0.822),        
        rgb(0, 44, 138),        
        rgba(0, 44, 138, 0.918),        
        rgb(0, 44, 138)
    );
    color: white;
}

