* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*carrousel*/

.text-carousel {
  position: absolute;
  left: 30%;
}

/* PAGE resultat.php */
.success{
  color: green;
}
.error {
  color: rd;
}

/*FOOTER*/
.footer {
    background: #2c3e50;
    color: #ecf0f1;
    padding: 20px 10px;
    font-size: 14px;
    text-align: center;
   
  }
  
  .footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-section h4 {
    color: #f39c12;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #ecf0f1;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 15px;
    border-top: 1px solid #7f8c8d;
    padding-top: 10px;
    font-size: 12px;
  }
